
base.definitions.yaml.old

lambdas/login.definitions.yaml.old

lambdas/login.zip

lambdas/login/UserIdentity.js

lambdas/login/PasswordHash.js

lambdas/login/eventParams.json

lambdas/login/AWSConstants.json

lambdas/login/APIParamVerify.js

lambdas/signup.definitions.yaml.old

lambdas/signup.zip

base.definitions.yaml.yaml

lambdas/signup/APIParamVerify.js

lambdas/signup/AWSConstants.json

lambdas/signup/eventParams.json

lambdas/signup/node_modules

lambdas/signup/PasswordHash.js

lambdas/signup/UniqueID.js

lambdas/signup/UserIdentity.js

swaggerAPI.yaml

base.definitions.yaml 2.yaml

base.definitions.yaml 3.yaml

lambdas/userMe.definitions.yaml.old

lambdas/userMe.zip

lambdas/userMe/AWSConstants.json

lambdas/node_modules

node_modules

lambdas/userMe/APIParamVerify.js

clients/angular/lambda-auth/app/aws/apiGateway-js-sdk

clients/angular/lambda-auth/app/aws/api.zip

clients/angular/lambda-auth/app/bower_components

clients/angular/lambda-auth/node_modules

lambdas/userMe.definitions.yaml.yaml

lambdas/signup.definitions.yaml.yaml

lambdas/login.definitions.yaml.yaml

base.definitions 2.yaml

base.definitions 3.yaml

clients/iOS/lambdaAuth/aws/api.zip

base.definitions 4.yaml

clients/angular.definitions.yaml.old

clients/iOS/lambdaAuth/lambdaAuth.xcodeproj/project.xcworkspace/xcuserdata

clients/iOS/lambdaAuth/Vendor/aws-apigateway-ios

clients/iOS/lambdaAuth/Vendor/aws-apigateway-ios/generated-src

clients/iOS/lambdaAuth/Pods

clients/iOS/lambdaAuth/Vendor/api.zip

clients/iOS/lambdaAuth/lambdaAuth.xcworkspace/xcuserdata

clients/iOS/lambdaAuth/lambdaAuth.xcodeproj/xcuserdata

clients/angular.definitions.yaml.old

clients/iOS.definitions.yaml.old

*.xcuserstate


clients/iOS/lambdaAuth/DeveloperIdentityProvider/AWSConstants.json

lambdas/token.definitions.yaml.old

lambdas/token.zip
