<center>
  <p><h1>Signup</h1></p>
  <p>Email: <input type="email" ng-model="$ctrl.email" placeholder="you@somewhere.com" ng-class="{flashable: $ctrl.flashEmail}"/></p>
  <p>Name: <input type="name" ng-model="$ctrl.name" placeholder="Sam Jones" ng-class="{flashable: $ctrl.flashName}"/></p>
  <p>Date of birth: <input type="text"
                                ng-model="$ctrl.DOB"
                                dob-validate-max-date="2010-10-08"
                                dob-validate-min-date="1900-01-01"
                                dob-format dob-validate
                                placeholder="mm / dd / yyyy" ng-class="{flashable: $ctrl.flashDOB}"/></p>

  <p><center>Password: <input type="current-password" ng-model="$ctrl.password" ng-class="{flashable: $ctrl.flashPassword}"/></p>
  </p>
  <p><button ng-click="$ctrl.signup()" ng-disabled="$ctrl.signupButtonDisable">Signup</button></p>
</center>
